name: Pre-commit

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        cache: true

    - name: Install gosec
      run: curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin

    - name: Download CERN CA certificates
      run: |
        chmod +x scripts/download_certs.sh
        ./scripts/download_certs.sh

    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports@latest

    - name: Install golangci-lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b $(go env GOPATH)/bin

    - name: Install libfido2-dev
      run: |
        sudo apt-get update
        sudo apt-get install -y libfido2-dev

    - uses: pre-commit/action@v3.0.1
